.Sidebar {
    background: var(--secondary);
    border-radius: 10px;
    grid-area: sidebar;
    padding: 10px;
    margin: 10px;
    height: 96%;
    overflow-y: scroll;
}

/* SIDEBAR SCROLLBAR START */

.Sidebar::-webkit-scrollbar {
    width: 10px;
}

.Sidebar::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: 10px;
}

/* SIDEBAR SCROLLBAR END */

.Sidebar__title {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    color: var(--grey);
    text-align: left;
    width: 100%;
}

.Sidebar__parts {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.Sidebar__part {
    background: var(--tertiary);
    width: 100%;
    padding: 20px;
    border-radius: 5px;
}

.Sidebar__part__title {
    font-weight: bold;
    font-size: 18px;
    color: var(--grey);
}

.ListItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: end;
    border-top: 1px solid rgb(95, 95, 95);
    margin: 10px 0;
}

.ListItem img {
    width: 40px;
    margin-right: 20px;
}

.ListItem span {
    font-size: 20px;
    color: var(--grey);
    font-weight: bold
}